<div class="card color-{{card.color}}">
	{{card.icon}}
	{{card.title}}
	{{card.contents}}
</div>
<div clas="card color-{{card.color}}">
	<div class="card-back">
		<div class="card-back-inner">
			<div class="back-icon icon-{{card.icon_back}}"></div>
		</div>
	</div>
</div>